<%= form_for(@outpost) do |f| %>
<article>
  <% if @outpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outpost.errors.count, "error") %> prohibited this outpost from being saved:</h2>

      <ul>
      <% @outpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  
  <h1>
  <div style="float:left;margin-right:.5em">
    <%= f.label :nid, 'Title', :class => 'smaller' %><br/>
    <%= f.text_field :nid, :style => 'width:8em'  %><br/>
  </div>
    <%= f.label :base_location, 'Category', :class => 'smaller' %><br/>
    <%= f.text_field :base_location, :style => 'width:8em' %><br/>

  </h1>

  <div class="outpost-options">
    <div><%= f.label :size_limit, 'Limit each upload to ' %> <%= f.text_field :size_limit, :style=>'width: 6em' %>kb</div>
    <div><%= f.label :rolling, 'Roll a new folder every ' %>  <%= f.text_field :rolling, :style=>'width: 2em'  %>hrs</div>
    <div><%= f.check_box :notification %>  <%= f.label :notification, 'Send upload notifications' %></div>
  </div>  
  
  <div class="actions">
    <%= f.submit %> 
    or 
    <a href="<%= edit_item  ? (outpost_path @outpost) : outposts_path %>">cancel</a>
  </div>

</article>
<% end %>
